#vimeography-gallery-1.vimeography-theme-harvestone .vimeography-thumbnail-container .vimeography-link img { border-color: #282828; } 
#vimeography-gallery-1.vimeography-theme-harvestone .vimeography-thumbnail-container .vimeography-link.vimeography-link-active img { border-color: #e8e8e8; } 
#vimeography-gallery-1.vimeography-theme-harvestone .vimeography-player:before { border-top-color: #0077dd; } 
